# Processing the Excel Sheet

    First, lets import the doc

In [1]:
import pandas as pd

df1 = pd.read_excel('document.xlsx')

print(df1.head())

  Ser     Category             SubCategory Unnamed: 3
0   1  Agriculture                     NaN        NaN
1   2          NaN  Agricultural Equipment        NaN
2   3          NaN                     NaN        NaN
3   4          NaN                     NaN        NaN
4   5          NaN                     NaN        NaN

    Then lets cut it in half

In [32]:
midpoint = len(df1) // 2

df2a = df1.iloc[:midpoint].reset_index(drop=True)
df2b = df1.iloc[midpoint:].reset_index(drop=True)

print("First half (df2a):"); print(df2a.head())

print("\nSecond half (df2b):"); print(df2b.head())

First half (df2a):
  Ser     Category             SubCategory Unnamed: 3
0   1  Agriculture                     NaN        NaN
1   2          NaN  Agricultural Equipment        NaN
2   3          NaN                     NaN        NaN
3   4          NaN                     NaN        NaN
4   5          NaN                     NaN        NaN

Second half (df2b):
                        Ser Category SubCategory         Unnamed: 3
0            SubSubCategory      NaN         NaN  SubSubSubCategory
1                       NaN      NaN         NaN                NaN
2                       NaN      NaN         NaN                NaN
3  Agricultural Greenhouses      NaN         NaN                NaN
4     Aquaculture Equipment      NaN         NaN                NaN

    df2b doesn't look that good, lets fix that

In [33]:
df2b = df2b.drop(['Category', 'SubCategory'], axis=1) # drop na collumns
df2b = df2b.iloc[1:] # remove unneccesary row with innacurate names
# df2a.rename({"Ser": "SubSubCategory", "Unnamed: 3": "SubSubSubCategory"}, axis='columns')
df2b.columns = ['SubSubCategory', 'SubSubSubCategory']

print(df2b.head(15))

              SubSubCategory            SubSubSubCategory
1                        NaN                          NaN
2                        NaN                          NaN
3   Agricultural Greenhouses                          NaN
4      Aquaculture Equipment                          NaN
5                        NaN             Aquaculture Trap
6                        NaN                Fishing Float
7                        NaN                  Fishing Net
8                        NaN                 Fishing Rope
9                        NaN  Other Aquaculture Equipment
10                   Ear Tag                          NaN
11                       NaN                          NaN
12                      Peat                          NaN
13                       NaN                          NaN
14                       NaN                          NaN
15                       NaN                          NaN

    And while we're at it lets clean up df2a

In [34]:
df2a = df2a.drop(['Unnamed: 3'], axis=1) # drop

print(df2a.head(15))

   Ser     Category                 SubCategory
0    1  Agriculture                         NaN
1    2          NaN      Agricultural Equipment
2    3          NaN                         NaN
3    4          NaN                         NaN
4    5          NaN                         NaN
5    6          NaN                         NaN
6    7          NaN                         NaN
7    8          NaN                         NaN
8    9          NaN                         NaN
9   10          NaN                         NaN
10  11          NaN  Agricultural Growing Media
11  12          NaN                         NaN
12  13          NaN  Agricultural Product Stock
13  14          NaN          Agricultural Waste
14  15          NaN              Animal Extract