# Finding whats happening to our failed entries

    First, lets add our old stuff

In [9]:
import pandas as pd
import psycopg2
import numpy as np

df = pd.read_excel(
    "c:/Users/samia/OneDrive/Desktop/ISupply-project/db upload/Map upload/map.xlsx"
)
print(df.head())

   Ser                  combined
0    1               Agriculture
1    2    Agricultural Equipment
2    3  Agricultural Greenhouses
3    4     Aquaculture Equipment
4    5          Aquaculture Trap

In [3]:
def get_category_subcategory(df, index):
    num = df.loc[index, "Ser"]  # O( log(n) )
    name = df.loc[index, "combined"]
    return name, num


def process_categories(df, cursor, con, start, end):
    # listOfCollisions = []
    # listOfAllErrors = []
    queryList = []
    j = 0

    for i in range(start, end):  # O(n)
        name, num = get_category_subcategory(df, i)
        num = str(num)

        query = (
            """INSERT INTO "Categories" (category_id, category) VALUES (%s, %s)""",
            (num, name),
        )
        # print(str(query))
        # query = str(query)
        try:
            cursor.execute(
                """INSERT INTO "Categories" (category_id, category) VALUES (%s, %s)""",
                (num, name),
            )  # O(n)
            # cursor.execute(query)  # O(n)
        except psycopg2.errors.UniqueViolation as e:
            # listOfAllErrors.append(i)
            # listOfCollisions.append(i)
            queryList.append(str(query))
        except Exception as e:
            print(f"Error occurred: {e} q:", query)
            # listOfAllErrors.append(i)
            queryList.append(str(query))

        if j == 10:
            con.commit()
            j = 0  # this time we will commit for each 10th entry
        j = j + 1

    con.commit()

    # print(len(listOfCollisions), len(listOfAllErrors))
    # return listOfCollisions, listOfAllErrors
    print(len(queryList))
    return queryList

    # this should give us some details on where our data is going

    Now lets start using this stuff again

In [4]:

# listOfCollisions = []
# listOfAllErrors = []
queryList = []


# wipe the db from DBeaver

con = psycopg2.connect(
    database="iSupply",
    host="38.180.117.52",
    user="postgres",
    password="deerRun",
    port="5432",
)
cursor = con.cursor()  # open

for i in range(5):  # first 500 for the sake of inspection
    # collisions, errors = process_categories(
    currentQL = process_categories(df, cursor, con, (100 * i), ((100 * i) + 100))
    # listOfCollisions += collisions listOfAllErrors += errors
    queryList += currentQL
    print("100 number ", (i + 1), " done")

# currentQL = process_categories(df, cursor, con, (4500), (4596))
# queryList += currentQL
# print("100 number ", (46), " done")

cursor.close()
con.close()  # close

0
100 number  1  done
1
100 number  2  done
0
100 number  3  done
Error occurred: current transaction is aborted, commands ignored until end of transaction block
 q: ('INSERT INTO "Categories" (category_id, category) VALUES (%s, %s)', ('341', 'Automobiles & Motorcycle s'))
2
100 number  4  done
0
100 number  5  done

In [6]:

print(len(queryList))
queryList

3

['(\'INSERT INTO "Categories" (category_id, category) VALUES (%s, %s)\', (\'151\', nan))',
 '(\'INSERT INTO "Categories" (category_id, category) VALUES (%s, %s)\', (\'340\', nan))',
 '(\'INSERT INTO "Categories" (category_id, category) VALUES (%s, %s)\', (\'341\', \'Automobiles & Motorcycle s\'))']

    Now, lets take a look at the data base

In [10]:
con = psycopg2.connect(
    database="iSupply",
    host="38.180.117.52",
    user="postgres",
    password="deerRun",
    port="5432",
)
cursor = con.cursor()
cursor.execute("""select * from "Categories" c""")
out = cursor.fetchall()  # make a dictionary of what the db currently has
cursor.close()
con.close()

dfDB = pd.DataFrame(out, columns=["ser", "cat"])

dfDB

     ser                       cat
0      1               Agriculture
1      2    Agricultural Equipment
2      3  Agricultural Greenhouses
3      4     Aquaculture Equipment
4      5          Aquaculture Trap
..   ...                       ...
475  496    Motorcycle Valve Train
476  497  Other Motorcycle Engines
477  498       Motorcycle Steering
478  499          Motorcycle Tires
479  500  Motorcycle Transmissions

[480 rows x 2 columns]

    & then lets compare the 2

In [66]:
dfMerged = pd.concat([df.add_suffix('_Original'), dfDB.add_suffix('_DB')], axis=1)
dfMerged = dfMerged.iloc[:500]; dfMerged.head(60)

,Ser_Original,combined_Original,ser_DB,cat_DB
0,1,Agriculture,1.0,Agriculture
1,2,Agricultural Equipment,2.0,Agricultural Equipment
2,3,Agricultural Greenhouses,3.0,Agricultural Greenhouses
3,4,Aquaculture Equipment,4.0,Aquaculture Equipment
4,5,Aquaculture Trap,5.0,Aquaculture Trap
5,6,Fishing Float,6.0,Fishing Float
6,7,Fishing Net,7.0,Fishing Net
7,8,Fishing Rope,8.0,Fishing Rope
8,9,Other Aquaculture Equipment,9.0,Other Aquaculture Equipment
9,10,Ear Tag,10.0,Ear Tag
10,11,Agricultural Growing Media,11.0,Agricultural Growing Media
11,12,Peat,12.0,Peat
12,13,Agricultural Product Stock,13.0,Agricultural Product Stock
13,14,Agricultural Waste,14.0,Agricultural Waste
14,15,Animal Extract,15.0,Animal Extract
15,16,Animal Feed,16.0,Animal Feed
16,17,Animal Products,17.0,Animal Products
17,18,Eggs,18.0,Eggs
18,19,Fowl & Livestock,19.0,Fowl & Livestock
19,20,Bamboo Raw Materials,20.0,Bamboo Raw Materials
20,21,Bean-Like Seeds,21.0,Bean-Like Seeds
21,22,Cacao,22.0,Cacao
22,23,Coffee Beans,23.0,Coffee Beans
23,24,Vanilla Beans,24.0,Vanilla Beans
24,25,Beans,25.0,Beans
25,26,Broad Beans,26.0,Broad Beans
26,27,Butter Beans,27.0,Butter Beans
27,28,Chickpeas,28.0,Chickpeas
28,29,Kidney Beans,29.0,Kidney Beans
29,30,Lentils,30.0,Lentils
30,31,Lima Beans,31.0,Lima Beans
31,32,Other Beans,32.0,Other Beans
32,33,Peas,33.0,Peas
33,34,Soybeans,34.0,Soybeans
34,35,Vigna Beans,35.0,Vigna Beans
35,36,Cigarettes,36.0,Cigarettes
36,37,Cigars,37.0,Cigars
37,38,Fresh Fruit,38.0,Fresh Fruit
38,39,Fresh Apples,39.0,Fresh Apples
39,40,Fresh Apricots,40.0,Fresh Apricots
40,41,Fresh Avocados,41.0,Fresh Avocados
41,42,Fresh Bananas,42.0,Fresh Bananas
42,43,Fresh Berries,43.0,Fresh Berries
43,44,Fresh Cherries,44.0,Fresh Cherries
44,45,Fresh Citrus Fruit,45.0,Fresh Citrus Fruit
45,46,Fresh Coconuts,46.0,Fresh Coconuts
46,47,Fresh Dragon Fruit,47.0,Fresh Dragon Fruit
47,48,Fresh Durians,48.0,Fresh Durians
48,49,Fresh Grapes,49.0,Fresh Grapes
49,50,Fresh Guava,50.0,Fresh Guava
50,51,Fresh Kiwi Fruit,51.0,Fresh Kiwi Fruit
51,52,Fresh Mangos,52.0,Fresh Mangos
52,53,Fresh Melons,53.0,Fresh Melons
53,54,Fresh Olives,54.0,Fresh Olives
54,55,Fresh Papaya,55.0,Fresh Papaya
55,56,Fresh Peaches,56.0,Fresh Peaches
56,57,Fresh Pears,57.0,Fresh Pears
57,58,Fresh Pineapples,58.0,Fresh Pineapples
58,59,Fresh Plums,59.0,Fresh Plums
59,60,Fresh Pomegranates,60.0,Fresh Pomegranates

In [67]:
dfMerged2 = dfMerged.iloc[120:500]; dfMerged2.head(60)

,Ser_Original,combined_Original,ser_DB,cat_DB
120,121,Bonsai,121.0,Bonsai
121,122,Dried Flowers,122.0,Dried Flowers
122,123,Fresh Cut Flowers,123.0,Fresh Cut Flowers
123,124,Natural Plants,124.0,Natural Plants
124,125,Other Agriculture Products,125.0,Other Agriculture Products
125,126,Plant & Animal Oil,126.0,Plant & Animal Oil
126,127,Animal Oil,127.0,Animal Oil
127,128,Blended Oil,128.0,Blended Oil
128,129,Camellia Oil,129.0,Camellia Oil
129,130,Castor Oil,130.0,Castor Oil
130,131,Coconut Oil,131.0,Coconut Oil
131,132,Corn Oil,132.0,Corn Oil
132,133,Ginger Oil,133.0,Ginger Oil
133,134,Olive Oil,134.0,Olive Oil
134,135,Other Plant & Animal Oil,135.0,Other Plant & Animal Oil
135,136,Palm Oil,136.0,Palm Oil
136,137,Rapeseed Oil,137.0,Rapeseed Oil
137,138,Sesame Oil,138.0,Sesame Oil
138,139,Soybean Oil,139.0,Soybean Oil
139,140,Sunflower Oil,140.0,Sunflower Oil
140,141,Plant Extract,141.0,Plant Extract
141,142,Plant Fiber,152.0,Apparel
142,143,Plant Seeds & Bulbs,153.0,Apparel Design Services
143,144,"Flower Bulbs, Seeds & Seedlings",154.0,Apparel Processing Services
144,145,Forage Seeds,155.0,Apparel Stock
145,146,"Fruit Grafts, Seedlings & Rootstocks",156.0,Children\'s Clothing
146,147,Oil Seeds,157.0,Children\'s Clothing Sets
147,148,Vegetable Seeds,158.0,Children\'s Coats
148,149,Tobacco,159.0,Children\'s Hoodies & Sweatshirts
149,150,NaN,160.0,Children\'s Jackets
150,151,NaN,161.0,Children\'s Jeans
151,152,Apparel,162.0,Children\'s Pants & Trousers
152,153,Apparel Design Services,163.0,Children\'s Shirts & Tops
153,154,Apparel Processing Services,164.0,Children\'s Shorts
154,155,Apparel Stock,165.0,Children\'s Sweaters
155,156,Children\'s Clothing,166.0,Children\'s T-Shirts
156,157,Children\'s Clothing Sets,167.0,Children\'s Underwear
157,158,Children\'s Coats,168.0,Children\'s Vests & Waistcoats
158,159,Children\'s Hoodies & Sweatshirts,169.0,Girls\' Dresses
159,160,Children\'s Jackets,170.0,Girls\' Skirts
160,161,Children\'s Jeans,171.0,Other Children\'s Clothing
161,162,Children\'s Pants & Trousers,172.0,Coats
162,163,Children\'s Shirts & Tops,173.0,Costumes
163,164,Children\'s Shorts,174.0,Anime Costumes
164,165,Children\'s Sweaters,175.0,Mascot
165,166,Children\'s T-Shirts,176.0,Other Costumes
166,167,Children\'s Underwear,177.0,Reenactment Attire
167,168,Children\'s Vests & Waistcoats,178.0,Sexy Costumes
168,169,Girls\' Dresses,179.0,TV & Movie Costumes
169,170,Girls\' Skirts,180.0,Zentai \/ catsuit
170,171,Other Children\'s Clothing,181.0,Dresses
171,172,Coats,182.0,Career Dresses
172,173,Costumes,183.0,Casual Dresses
173,174,Anime Costumes,184.0,Cocktail Dresses
174,175,Mascot,185.0,Evening Dresses
175,176,Other Costumes,186.0,Other Dresses
176,177,Reenactment Attire,187.0,Prom Dresses
177,178,Sexy Costumes,188.0,Ethnic Clothing
178,179,TV & Movie Costumes,189.0,Africa Clothing
179,180,Zentai \/ catsuit,190.0,Asia & Pacific Islands Clothing

    Now lets try making a list of entries not going through

In [68]:
serDbArray = dfMerged['ser_DB'].to_numpy(); serDbArray

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133., 134., 135., 136., 137., 138., 139., 140., 141., 152., 153.,
       154., 155., 156., 157., 158., 159., 160., 161., 162., 163., 164.,
       165., 166., 167., 168., 169., 170., 171., 172., 173., 174., 175.,
       176., 177., 178., 179., 180., 181., 182., 183., 184., 185., 186.,
       187., 188., 189., 190., 191., 192., 193., 194., 195., 196., 197.,
       198., 199., 200., 201., 202., 203., 204., 205., 206., 207., 208.,
       209., 210., 211., 212., 213., 214., 215., 216., 217., 218., 219.,
       220., 221., 222., 223., 224., 225., 226., 227., 228., 229., 230.,
       231., 232., 233., 234., 235., 236., 237., 238., 239., 240., 241.,
       242., 243., 244., 245., 246., 247., 248., 249., 250., 251., 252.,
       253., 254., 255., 256., 257., 258., 259., 260., 261., 262., 263.,
       264., 265., 266., 267., 268., 269., 270., 271., 272., 273., 274.,
       275., 276., 277., 278., 279., 280., 281., 282., 283., 284., 285.,
       286., 287., 288., 289., 290., 291., 292., 293., 294., 295., 296.,
       297., 298., 299., 300., 301., 302., 303., 304., 305., 306., 307.,
       308., 309., 310., 311., 312., 313., 314., 315., 316., 317., 318.,
       319., 320., 321., 322., 323., 324., 325., 326., 327., 328., 329.,
       330., 331., 342., 343., 344., 345., 346., 347., 348., 349., 350.,
       351., 352., 353., 354., 355., 356., 357., 358., 359., 360., 361.,
       362., 363., 364., 365., 366., 367., 368., 369., 370., 371., 372.,
       373., 374., 375., 376., 377., 378., 379., 380., 381., 382., 383.,
       384., 385., 386., 387., 388., 389., 390., 391., 392., 393., 394.,
       395., 396., 397., 398., 399., 400., 401., 402., 403., 404., 405.,
       406., 407., 408., 409., 410., 411., 412., 413., 414., 415., 416.,
       417., 418., 419., 420., 421., 422., 423., 424., 425., 426., 427.,
       428., 429., 430., 431., 432., 433., 434., 435., 436., 437., 438.,
       439., 440., 441., 442., 443., 444., 445., 446., 447., 448., 449.,
       450., 451., 452., 453., 454., 455., 456., 457., 458., 459., 460.,
       461., 462., 463., 464., 465., 466., 467., 468., 469., 470., 471.,
       472., 473., 474., 475., 476., 477., 478., 479., 480., 481., 482.,
       483., 484., 485., 486., 487., 488., 489., 490., 491., 492., 493.,
       494., 495., 496., 497., 498., 499., 500.,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan])