# Uploading our stuff

    First, lets import our python toolbox and the data

In [2]:
import pandas as pd
import psycopg2

In [39]:
dfip = pd.read_excel('InPerfectOutput.xlsx')
print(dfip.head())

   Ser     Category             SubCategory         SubSubCategory  \
0    5  Agriculture  Agricultural Equipment  Aquaculture Equipment
1    6  Agriculture  Agricultural Equipment  Aquaculture Equipment
2    7  Agriculture  Agricultural Equipment  Aquaculture Equipment
3    8  Agriculture  Agricultural Equipment  Aquaculture Equipment
4    9  Agriculture  Agricultural Equipment  Aquaculture Equipment

             SubSubSubCategory
0             Aquaculture Trap
1                Fishing Float
2                  Fishing Net
3                 Fishing Rope
4  Other Aquaculture Equipment

In [40]:
dfp = pd.read_excel('PerfectOutput.xlsx')
print(dfp.head())

   Ser     Category             SubCategory            SubSubCategory  \
0    3  Agriculture  Agricultural Equipment  Agricultural Greenhouses
1    4  Agriculture  Agricultural Equipment     Aquaculture Equipment
2    5  Agriculture  Agricultural Equipment     Aquaculture Equipment
3    6  Agriculture  Agricultural Equipment     Aquaculture Equipment
4    7  Agriculture  Agricultural Equipment     Aquaculture Equipment

  SubSubSubCategory
0               NaN
1               NaN
2  Aquaculture Trap
3     Fishing Float
4       Fishing Net

In [42]:
dfSlim = pd.read_excel('slimTree.xlsx')
print(dfSlim.head())

                   category               subcategory
0               Agriculture    Agricultural Equipment
1    Agricultural Equipment  Agricultural Greenhouses
2  Agricultural Greenhouses                       NaN
3               Agriculture    Agricultural Equipment
4    Agricultural Equipment     Aquaculture Equipment

In [43]:
con = psycopg2.connect(database="iSupply",
                        host="38.180.117.52",
                        user="postgres",
                        password="deerRun",
                        port="5432")
cursor = con.cursor()

In [44]:
# select * from "Categories" c;
# insert into "Categories" (category) values ('food');

cursor.execute("""select * from "Categories" c""")
cursor.execute("""insert into "Categories" (category) values ('food but with py again this time')""")

    Read from DB to test

In [45]:
cursor.execute("""select * from "Categories" c""")

print(cursor.fetchall())

[(3, 'food2'), (4, 'food'), (6, 'food9'), (8, 'food99'), (25, 'food but with py again this time')]

    Due to a few issues, lets unit test this again

In [46]:
cursor.execute("""select * from "Categories" c""")
cursor.execute("""insert into "Categories" (category) values ('unique code which will be in table')""")

cursor.execute("""select * from "Categories" c""")
print(cursor.fetchall())

[(3, 'food2'), (4, 'food'), (6, 'food9'), (8, 'food99'), (25, 'food but with py again this time'), (26, 'unique code which will be in table')]

    Looks like reading & writing works, now lets try deleting

In [49]:
cursor.execute("""select * from "Categories" c""")
category_id = "26"; category_name = 'unique code which will be in table'
cursor.execute("""DELETE FROM "Categories" WHERE category_id = """ + category_id)# + """ OR category = """ + category_name)# type: ignore #, (category_id, category_name))

cursor.execute("""select * from "Categories" c""")
print(cursor.fetchall())

[(3, 'food2'), (4, 'food'), (6, 'food9'), (8, 'food99'), (25, 'food but with py again this time')]



    Now lets make a similar version for the categroy tree:

In [52]:
cursor.execute("""select * from "Category_Tree" c""")
cursor.execute("""insert into "Category_Tree" (category_id, sub_category_id) values ("catid", "subcatid")""")

cursor.execute("""select * from "Categories" c""")
print(cursor.fetchall())

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

    & the final step is to use this to commit our data to the DB

In [42]:
len = dfip.size

for i in dfp:
    print("f")

f
f
f
f
f

In [ ]:
# Ser = []; Cat = []; SCat = []; SSCat = []; SSSCat = []

# for i in dfp:
#     Ser.append(dfp['Ser'])
#     Cat.append(dfp['Category'])
#     SCat.append(dfp['SubCategory'])
#     SSCat.append(dfp['SubSubCategory'])
#     SSSCat.append(dfp['SubSubSubCategory'])

# Ser; # Cat; # SCat; # SSCat; # SSSCat