# Uploading our stuff

    First, lets import our python toolbox and the data

In [1]:
import pandas as pd
import psycopg2

In [2]:
dfip = pd.read_excel('InPerfectOutput.xlsx')
print(dfip.head())

   Ser     Category             SubCategory         SubSubCategory  \
0    5  Agriculture  Agricultural Equipment  Aquaculture Equipment
1    6  Agriculture  Agricultural Equipment  Aquaculture Equipment
2    7  Agriculture  Agricultural Equipment  Aquaculture Equipment
3    8  Agriculture  Agricultural Equipment  Aquaculture Equipment
4    9  Agriculture  Agricultural Equipment  Aquaculture Equipment

             SubSubSubCategory
0             Aquaculture Trap
1                Fishing Float
2                  Fishing Net
3                 Fishing Rope
4  Other Aquaculture Equipment

In [3]:
dfp = pd.read_excel('PerfectOutput.xlsx')
print(dfp.head())

   Ser     Category             SubCategory            SubSubCategory  \
0    3  Agriculture  Agricultural Equipment  Agricultural Greenhouses
1    4  Agriculture  Agricultural Equipment     Aquaculture Equipment
2    5  Agriculture  Agricultural Equipment     Aquaculture Equipment
3    6  Agriculture  Agricultural Equipment     Aquaculture Equipment
4    7  Agriculture  Agricultural Equipment     Aquaculture Equipment

  SubSubSubCategory
0               NaN
1               NaN
2  Aquaculture Trap
3     Fishing Float
4       Fishing Net

In [4]:
dfSlim = pd.read_excel('slimTree.xlsx')
print(dfSlim.head())

                   category               subcategory
0               Agriculture    Agricultural Equipment
1    Agricultural Equipment  Agricultural Greenhouses
2  Agricultural Greenhouses                       NaN
3               Agriculture    Agricultural Equipment
4    Agricultural Equipment     Aquaculture Equipment

In [10]:
con = psycopg2.connect(database="iSupply",
                        host="38.180.117.52",
                        user="postgres",
                        password="deerRun",
                        port="5432")
cursor = con.cursor()

In [11]:
# select * from "Categories" c;
# insert into "Categories" (category) values ('food');

cursor.execute("""select * from "Categories" c""")
cursor.execute("""insert into "Categories" (category) values ('food but with py again this time')""")

    Read from DB to test

In [12]:
cursor.execute("""select * from "Categories" c""")

print(cursor.fetchall())

[(563, 'food99'), (564, 'food but with py again this time')]

    Due to a few issues, lets unit test this again

In [13]:
cursor.execute("""select * from "Categories" c""")
cursor.execute("""insert into "Categories" (category) values ('unique code which will be in table')""")

cursor.execute("""select * from "Categories" c""")
print(cursor.fetchall())

[(563, 'food99'), (564, 'food but with py again this time'), (565, 'unique code which will be in table')]

    Looks like reading & writing works, now lets try deleting

In [15]:
cursor.execute("""select * from "Categories" c""")
category_id = "565"; category_name = 'unique code which will be in table'
cursor.execute("""DELETE FROM "Categories" WHERE category_id = """ + category_id)# + """ OR category = """ + category_name)# type: ignore #, (category_id, category_name))

cursor.execute("""select * from "Categories" c""")
print(cursor.fetchall())

[(563, 'food99'), (564, 'food but with py again this time')]



    Now lets make a similar version for the categroy tree:

In [63]:
# cursor.execute("""select * from "Category_Tree" ct""")
# cursor.execute("""insert into "Category_Tree" (category_id, sub_category_id) values ("catid", "subcatid")""")

# cursor.execute("""select * from "Categories" c""")
# print(cursor.fetchall())

    this would work to pass a string, but Category_Tree's category & sub category parameters both take integers, so lets get encoding

    First lets pass an old data set from pdf processing, the following cell is recycled code

In [16]:
df1 = pd.read_excel('document.xlsx')
midpoint = len(df1) // 2 # type: ignore
df2a = df1.iloc[:midpoint].reset_index(drop=True)
df2b = df1.iloc[midpoint:].reset_index(drop=True)
df2b = df2b.drop(['Category', 'SubCategory'], axis=1) # drop na collumns
df2b = df2b.iloc[1:] # remove unneccesary row with innacurate names
df2b.columns = ['SubSubCategory', 'SubSubSubCategory']
df2a = df2a.drop(['Unnamed: 3'], axis=1) # drop
df2b['Ser'] = range(1, len(df2b) + 1) # type: ignore
df3 = pd.merge(df2a, df2b, on='Ser', suffixes=('_a', '_b'))

print(df3)

       Ser     Category             SubCategory            SubSubCategory  \
0        1  Agriculture                     NaN                       NaN
1        2          NaN  Agricultural Equipment                       NaN
2        3          NaN                     NaN  Agricultural Greenhouses
3        4          NaN                     NaN     Aquaculture Equipment
4        5          NaN                     NaN                       NaN
...    ...          ...                     ...                       ...
4591  4592          NaN                     NaN            Truck Steering
4592  4593          NaN                     NaN          Truck Suspension
4593  4594          NaN                     NaN                Truck Tire
4594  4595          NaN                     NaN        Truck Transmission
4595  4596          NaN                     NaN               Truck Wheel

     SubSubSubCategory
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4     Aquaculture Trap
...                ...
4591               NaN
4592               NaN
4593               NaN
4594               NaN
4595               NaN

[4596 rows x 5 columns]

    Now lets try making a map from this

In [17]:
df = pd.DataFrame(df3)

def combine_non_na(row):
    return ' '.join([str(val) for val in row if val != 'na' and not isinstance(val, (int, float))])

df['combined'] = df.apply(combine_non_na, axis=1)

df = df[['Ser', 'combined']]

print(df)

       Ser                  combined
0        1               Agriculture
1        2    Agricultural Equipment
2        3  Agricultural Greenhouses
3        4     Aquaculture Equipment
4        5          Aquaculture Trap
...    ...                       ...
4591  4592            Truck Steering
4592  4593          Truck Suspension
4593  4594                Truck Tire
4594  4595        Truck Transmission
4595  4596               Truck Wheel

[4596 rows x 2 columns]

    Lets save this for safe keeping

In [18]:
df.to_excel('map.xlsx', index=False)

    Now its DB time, we need to put this map into 1 of our tables, & use the map for our other table

    Lets start out by uploading the map we just made

    First lets make sure the db is empty

In [23]:
cursor.execute("""select * from "Categories" c""")
print(cursor.fetchall())

# cursor.execute("""select * from "Categories" c""")
# cursor.execute("""insert into "Categories" (category) values ('food but with py again this time')""")

# cursor.execute("""select * from "Categories" c""")
# cursor.execute("""drop table "Categories" """)

[]

In [98]:

# cursor.execute("""select * from "Categories" c""")
# cursor.execute("""insert into "Categories" (category) values ('food but with py again this time')""")

# cursor.execute("""select * from "Categories" c""")
# print(cursor.fetchall())

    Now lets touch the DB

In [27]:
con = psycopg2.connect(database="iSupply",
                        host="38.180.117.52",
                        user="postgres",
                        password="deerRun",
                        port="5432")
cursor = con.cursor()

In [28]:
def get_category_subcategory(df, index):
    num = df.loc[index, 'Ser']
    name = df.loc[index, 'combined']
    return num, name

for i in range(1000): # first 1000
    num, name = get_category_subcategory(df, i); num = str(num)
    
    cursor.execute("""select * from "Categories" c""")
    cursor.execute("""insert into "Categories" (category_id, category) values (""" + num + """, '""" + name + """')""") # type: ignore

# con.commit()

UniqueViolation: duplicate key value violates unique constraint "accounts_category_key"
DETAIL:  Key (category)=() already exists.

    A unique violation? Exception time

In [29]:
listOfCollisions = []

def get_category_subcategory(df, index):
    num = df.loc[index, 'Ser']
    name = df.loc[index, 'combined']
    return num, name

for i in range(len(df)): # type: ignore
# for i in range(10): # type: ignore
    num, name = get_category_subcategory(df, i); num = str(num)
    
    try:
        
        try:    
            cursor.execute("""select * from "Categories" c""")
            cursor.execute("""insert into "Categories" (category) values ('""" + name + """')""") # type: ignore
        except Exception as e:
            cursor.execute("""insert into "Categories" (category) values ('""" + name + """')""") # type: ignore
        
        
    except psycopg2.errors.UniqueViolation as e:
        listOfCollisions.append(i)

con.commit() # add this to make it the real thing

print(listOfCollisions.__sizeof__())

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

    Another issue? Lets try going a couple hundred terms at a time, & Im gonna clean up the code while we're at it

In [30]:

def process_categories(df, cursor, con, start, end):
    listOfCollisions = []

    def get_category_subcategory(df, index):
        num = df.loc[index, 'Ser']
        name = df.loc[index, 'combined']
        return num, name

    for i in range(start, end):
        num, name = get_category_subcategory(df, i)
        num = str(num)

        try:
            cursor.execute("""INSERT INTO "Categories" (category_id, category) VALUES (%s, %s)""", (num, name))
        except psycopg2.errors.UniqueViolation as e:
            listOfCollisions.append(i)
        except Exception as e:
            print(f"An unexpected error occurred: {e}")

    con.commit()

    print(len(listOfCollisions)); return listOfCollisions

In [70]:
collisions = process_categories(df, cursor, con, 0, 100)

0

    16 seconds for the first 100 entries? No collisions? Not bad
    Now this should take ~33 seconds

In [71]:
collisions = process_categories(df, cursor, con, 101, 300)

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

1

    Hm, weird output there - but worst of all no new data appeared on DBeaver - lets try:

In [72]:
collisions = process_categories(df, cursor, con, 101, 150)

0

    Success! lets try:

In [73]:
collisions = process_categories(df, cursor, con, 151, 200)

0

    Now lets:

In [74]:
collisions = process_categories(df, cursor, con, 201, 250)

0

In [75]:
collisions = process_categories(df, cursor, con, 251, 300)

0

In [76]:
collisions = process_categories(df, cursor, con, 301, 350)

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

An unexpected error occurred: current transaction is aborted, commands ignored until end of transaction block

1

    Theres the issue, one of the early 300's is messing this up, lets take a look at the data

In [77]:
print(df.iloc[300:351])

     Ser                       combined
300  301                       Tag Guns
301  302                      Tank Tops
302  303                      Underwear
303  304               Bra & Brief Sets
304  305                           Bras
305  306                      Camisoles
306  307                   Garters Belt
307  308                     Long Johns
308  309         Men\'s Briefs & Boxers
309  310                Other Underwear
310  311                 Sexy Underwear
311  312                        Shapers
312  313               Women\'s Panties
313  314                       Uniforms
314  315               Airline Uniforms
315  316                  Bank Uniforms
316  317               Fireman Uniforms
317  318                 Guard Uniforms
318  319              Hospital Uniforms
319  320                 Hotel Uniforms
320  321              Military Uniforms
321  322                 Other Uniforms
322  323             Promotion Uniforms
323  324      Restaurant & Bar Uniforms
324  325                School Uniforms
325  326                   Used Clothes
326  327             Vests & Waistcoats
327  328  Wedding Apparel & Accessories
328  329             Bridesmaid Dresses
329  330         Flower Girls\' Dresses
330  331          Other Wedding Apparel
331  332            Wedding Accessories
332  333                  Bridal Gloves
333  334                   Bridal Veils
334  335                     Petticoats
335  336                Wedding Dresses
336  337        Wedding Jackets \/ Wrap
337  338                       Workwear
338  339
339  340
340  341     Automobiles & Motorcycle s
341  342                            ATV
342  343                      ATV Parts
343  344                Auto Drivetrain
344  345                    Auto Clutch
345  346                          Axles
346  347                   Brake System
347  348                      Car Tires
348  349                     Car Wheels
349  350                   Drive Shafts
350  351          Other Auto Drivetrain

In [57]:
cursor.execute("""select * from "Categories" c""")
print(cursor.fetchall())

[(3, 'food2'), (4, 'food'), (6, 'food9'), (8, 'food99'), (22, 'food999'), (398, 'Agriculture'), (399, 'Agricultural Equipment'), (400, 'Agricultural Greenhouses'), (401, 'Aquaculture Equipment'), (402, 'Aquaculture Trap'), (403, 'Fishing Float'), (404, 'Fishing Net'), (405, 'Fishing Rope'), (406, 'Other Aquaculture Equipment'), (407, 'Ear Tag')]

In [78]:
cursor.close()
con.close()


    & the final step is to use this to commit our data to the DB

In [ ]:
# Ser = []; Cat = []; SCat = []; SSCat = []; SSSCat = []

# for i in dfp:
#     Ser.append(dfp['Ser'])
#     Cat.append(dfp['Category'])
#     SCat.append(dfp['SubCategory'])
#     SSCat.append(dfp['SubSubCategory'])
#     SSSCat.append(dfp['SubSubSubCategory'])

# Ser; # Cat; # SCat; # SSCat; # SSSCat